/*
* @author: Shushas Roman
* @email: Shushasrp@gmail.com
*/


/* <Fonts */
@font-face{
	font-family: '';
	src: url('../fonts/.eot');
	src: url('../fonts/.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/.woff') format('woff'),
		 url('../fonts/.ttf') format('truetype'),
		 url('../fonts/.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Fonts> */


/* <Service styles */
body{
	font: 500 20px 'Montserrat', system-ui, Helvetica, "Helvetica Neue", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
	color: #677897;
	min-width: 300px;
	background: #f8fafd;
}
a{
	outline: none;
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}
a:hover{
	text-decoration: underline;
}
i{
	font-style: italic;
}
b,
strong{
	font-weight: bold;
}
.first-title{
	font-size: 48px;
	line-height: 68px;
	font-weight: 400;
}
.first-title strong,
.first-title b{
	font-weight: 700;
}
.second-title{
	font-size: 36px;
	font-weight: 500;
	margin-bottom: 40px;
}
.second-title strong,
.second-title b{
	font-weight: 600;
}
.third-title{
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 46px;
}
.sub-title{
	font-size: 16px;
	line-height: 30px;
	margin-top: -30px;
}
p{
	line-height: 30px;
}
p.small{
	font-size: 16px;
	line-height: 28px;
}
.list{}
.list li{
	margin-top: 11px;
}
.list li:first-child{
	margin: 0;
}

.clearfix:after,
.clear{
	font-size:0;
	clear:both;
	overflow:hidden;
	line-height:0;
	border: 0;
	content: '';
	display: block;
}
.fl-l{
	float: left;
}
.fl-r{
	float: right;
}
.ta-l{
	text-align: left;
}
.ta-c{
	text-align: center;
}
.ta-r{
	text-align: right;
}
button,
input{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
}
.slick-slide:focus,
button:focus{
	outline: none;
}
.color-pink{
	color: #E558C5;
}
/* Service styles> */


/* <Icons */
.icon{
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
}
.icon-linked{
	width: 11px;
	height: 11px;
	background: url(../images/icon-linked.png) center no-repeat;
}
/* Icons> */


/* <Form */
.button{
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    text-align: center;
    font-size: 18px;
    padding: 12px 5px;
    border-radius: 100px;
    overflow: hidden;
}
.button .small{
	font-size: 16px;
}
.button:hover{
	text-decoration: none;
}
.button:active{}
.button.block{
	display: block;
	width: 100%;
	box-sizing: border-box;
}
.button-blue{
	color: #fff;
	background: linear-gradient(8.99deg, #102397 -5.12%, #187ADF 48.89%, #00EAF8 92.6%);
	transition: all .3s;
}
.button-blue:hover{
	opacity: .8;
}
.button-border{
	position: relative;
	z-index: 1;
	background: #fff;
	margin: 1px;
}
.button-border::before{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(8.99deg, #fff -5.12%, #00EAF8 92.6%);
	z-index: -1;
	border-radius: 100px;
}
.button-border::after{
	content: '';
	position: absolute;
	top: 1px;
	right: 1px;
	bottom: 1px;
	left: 1px;
	background: #029fea;
	z-index: -1;
	border-radius: 100px;
	transition: all .3s;
}
.button-border:hover::after{
	opacity: .8;
}
.button-telegram{
	padding: 0;
	width: 50px;
	height: 50px;
	background: url(../images/button-telegram.png) center no-repeat;
	box-shadow: 0px 4px 20px #32A9DD;
}
textarea,
select,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"]{
	border: 1px solid #E5E5E5;
    box-sizing: border-box;
    display: block;
    width: 100%;
    background: #fff;
}
textarea{}
::-webkit-input-placeholder{color: #A9A7C5}
::-moz-placeholder{color: #A9A7C5}
:-ms-input-placeholder{color: #A9A7C5}
:-moz-placeholder{color: #A9A7C5}
.form{}
.form-box{
	margin-bottom: 27px;
    color: #6B6969;
}
/* Form> */


/* <Popup */

/* Popup> */


/* <Common styles */
.page-wrapper{
	max-width: 1920px;
	margin: 0 auto;
	overflow: hidden;
}
.section-wrapper{
	position: relative;
	box-sizing: border-box;
	padding: 20px 0;
}
.box{
	width: 100%;
	max-width: 1092px;
	padding: 0 15px;
	margin: 0 auto;
	position: relative;
	box-sizing: border-box;
}
.scroll-elements .box,
.faq,
/*.header,*/
.footer{
    max-width: 1186px;
}

.scroll-elements{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 25;
}
.scroll-elements .button-telegram{
	position: fixed;
	bottom: 30px;
	left: 20px;
}

.nav-button{
    display: none;
    width: 36px;
    height: 46px;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
    margin: 0 -10px;
    transition: all .3s;
}
.nav-button-line{
	height: 3px;
	width: 100%;
	border-radius: 3px;
	background: #fff;
	margin: 4px 0;
	transition: all .3s;
}

.navsc-wrapper{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 21;
}
.navsc-wrapper.fixed{
	max-width: 100%;
}
.navsc-wrapper.fixed .navsc{
	left: auto;
	right: 15px;
}
.navsc{
	position: absolute;
    top: 0;
    left: 100%;
    height: 100vh;
    padding-left: 5.25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    width: 160px;
    transition: all .3s;
}
.navsc li{
    position: relative;
    margin: .635vw 0;
}
.navsc li::before{
    content: '';
    position: absolute;
    bottom: 100%;
    left: 8px;
    width: 2px;
    height: 1.4vw;
    background: #fff;
    margin-bottom: -1px;
    transition: all .3s;
}
.navsc li:first-child::before{
	display: none;
}
.navsc li a{
	position: relative;
	padding-left: 28px;
	white-space: nowrap;
}
.navsc li a::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	width: 14px;
	height: 14px;
	border: 2px solid #fff;
	border-radius: 50%;
	transition: all .3s;
}
.navsc li a::after{
	content: '';
	position: absolute;
	top: 0;
	left: 5px;
	bottom: 0;
	margin: auto;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: linear-gradient(150.35deg, rgba(253, 83, 196, 0.4) 15.81%, #F95CC7 52.9%);
	opacity: 0;
	transition: all .3s;
}
.navsc li.current a::after{
	opacity: 1;
}

.navsc-wrapper.dark{
	z-index: 24;
}
.navsc-wrapper.dark .navsc{
	color: #677897;
}
.navsc-wrapper.dark .navsc li a::before{
	border-color: #677897
}
.navsc-wrapper.dark .navsc li::before{
	background: #677897;
}
/* Common styles> */


/* <Header */
.header-wrapper{
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	padding: 53px 0 0 0;
	z-index: 23;
}
.header-wrapper + *{
	padding-top: 172px;
}
.header{
    display: flex;
    justify-content: space-between;
}
.header-logo{}
.header-logo img{}
.header-logo-text{
	text-indent: -6666px;
	display: block;
	width: 0;
	height: 0;
	opacity: 0;
}

.nav-wrapper{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-basis: 546px;
	padding: 3px 0;
}
.nav{
	font-size: 16px;
	font-weight: 400;
}
.nav-list{
	display: flex;
}
.nav-list-item{
	margin-left: 10px;
}
.nav-list-item:first-child{
	margin-left: 0;
}
.nav-link{
	display: block;
	margin-left: 15px;
	position: relative;
	padding: 7px 0;
}
.nav-link::after{
	content: '';
	position: absolute;
	top: 100%;
	left: -3px;
	right: -3px;
	border-top: 1px solid;
	opacity: 0;
	width: 0;
	transition: all .3s;
}
.nav-link.active{
	font-weight: 500;
}
.nav-link:hover{
	text-decoration: none;
}
.nav-link:hover::after,
.nav-link.active::after{
	opacity: 1;
	width: 100%;
}

.nav-lang{
	font-size: 14px;
	position: relative;
}
.nav-lang-link{
	display: flex;
	margin: 0;
}
.nav-lang-link::before{
    content: '';
    width: 14px;
    height: 20px;
    margin-right: -3px;
    background: url(../images/arrow-white.png) center no-repeat;
    order: 2;
    transition: all .3s;
}
.nav-lang-flag{
	width: 18px;
	height: 13px;
	margin: 2px 6px 0 0;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.nav-lang-flag.eng{
	background-image: url(../images/en-icon.png);
}
.nav-lang-flag.jp{
	background-image: url(../images/jp-icon.png);
}
.nav-lang-flag.kr{
	background-image: url(../images/kr-icon.png);
}
.nav-lang-flag.ch{
	background-image: url(../images/ch-icon.png);
}
.nav-lang-dropdown{
	opacity: 0;
	visibility: hidden;
    position: absolute;
    background: #ffffff;
    color: #677897;
    top: 80%;
    left: -66px;
    right: -66px;
    width: 110px;
    margin: auto;
    flex-direction: column;
    padding: 5px 0;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.4);
    border-radius: 3px;
    transition: all .3s;
}
.open .nav-lang-dropdown{
	opacity: 1;
	visibility: visible;
	top: 100%;
}
.open .nav-lang-link::before{
	transform: rotate(180deg);
	margin-top: -1px;
}
.nav-lang-dropdown .nav-link{
	margin: 0;
	display: flex;
	padding: 7px 12px;
}
.nav-lang-dropdown .nav-link::after{
	display: none;
}
.nav-lang-dropdown .nav-link::before{
	content: '';
	height: 32px;
	width: 0;
	background: #677897;
	margin: -7px 12px -7px -12px;
	transition: all .3s;
}
.nav-lang-dropdown .nav-link:hover{
	
}
.nav-lang-dropdown .nav-link:hover::before{
	width: 3px;
}
.nav-lang-dropdown .nav-list-item{
	margin: 0;
	position: relative;
}
/* Header> */


/* <Footer */
.footer-wrapper{
	padding: 136px 0;
}
.footer{
	display: flex;
	justify-content: space-between;
	font-size: 16px;
	font-weight: 400;
}
.footer-content{}
.footer-content:first-child{
	flex-basis: 64%;
}
.footer-content:last-child{
	flex-basis: 28%;
}
.footer-nav-wrapper{
    display: flex;
    align-items: flex-start;
}
.footer-nav{
	margin: 0 10px 0 0;
	flex-basis: 183px;
}
.footer-nav.nav-lang{
	flex-basis: 188px;
	padding-bottom: 15px;
}
.footer-nav-link{}
.footer-nav-link .nav-lang-flag{}
.footer-nav-link.nav-lang-link::before{
	background-image: url(../images/arrow-blue.png);
	background-size: 9px 6px;
}
.footer-nav-list{}
.footer-nav-list.nav-lang-dropdown{
	left: 0;
    right: auto;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
}
.footer-nav-list.nav-lang-dropdown .footer-nav-list-item{
	margin-top: 0;
}
.footer-nav-list-item{
	margin: 15px 0 0 0;
}
.footer-nav-list-item:first-child{
	margin: 0;
}

.footer-contacts{
	display: flex;
	margin-bottom: 63px;
}
.footer-contacts-flag{
	padding-right: 13px;
}
.footer-contacts-flag img{}
.footer-contacts-text{
	line-height: 30px;
	margin-top: -5px;
}
.footer-social-button{}
.footer-social{
	text-align: center;
}
/* Footer> */


/* <Main */
.main-wrapper{
	color: #fff;
	padding-bottom: 302px;
	background: url(../images/main-bg-image.png) center 0 no-repeat;
	overflow: hidden;
}
.main-wrapper + .section-wrapper{
	position: relative;
	padding-top: 1px;
}
.main-wrapper + .section-wrapper .box{
	margin-top: -152px;
}
.main{
	display: flex;
	position: relative;
}
.main-content{
    flex-basis: 360px;
    padding: 84px 0 52px;
    position: relative;
}
.main-content .first-title{
	margin-bottom: 50px;
}
.main-content .button{
	display: block;
	width: 100%;
	max-width: 282px;
	margin-top: 15px;
}
.main-content .button-telegram{
    width: 50px;
    display: inline-block;
    margin-top: 64px;
}
.main-bg-elements{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.main-bg-element{}
.main-bg-element.el1{}
.main-bg-element.el2{}
.main-bg-element.el3{}

.main-image-wrapper{
    position: absolute;
    width: 1080px;
    height: 811px;
    top: 53px;
    bottom: 0;
    margin: auto;
    right: -178px;
    transform: scale(.715);
}
.main-image{
	display: block;
}
.main-image-bg{
	position: absolute;
	top: 19.05%;
	left: -2.4%;
	width: 1170px;
}
.main-image-bg ~ .main-image-bg{
	top: -0.5%;
	width: 1154px;
	left: -1.3%;
}
.main-small-image{
	display: block;
	margin: 0 auto;
}

.main-image-box{
	position: absolute;
}
.main-image-box.b1{
	top: 16%;
	left: 57.6%;
}
.main-image-box.b1 .main-image-box-icon{
	top: -35px;
}
.main-image-box.b2{
	top: 28.7%;
	left: 41.85%;
}
.main-image-box.b2 .main-image-box-icon{
	top: -65px;
}
.main-image-box.b3{
	top: 43.4%;
	left: 26%;
}
.main-image-box.b3 .main-image-box-icon{
	top: -100px;
}
.main-image-box.b4{
	top: 41.8%;
	left: 58.6%;
}
.main-image-box.b5{
	top: 58.2%;
	left: 50.7%;
}
.main-image-box.b5 .main-image-box-icon{
	top: -97px;
}
.main-image-box.b6{
	top: 64.8%;
	left: 12.9%;
}
.main-image-box.b6 .main-image-box-icon{
	top: -50px;
}
.main-image-box-cube.big{
	width: 144px;
	height: 172px;
	background: url('../images/cube-image.png') center no-repeat;
}
.main-image-box-cube.big.r{
	background-image: url('../images/cube-image-r.png');
}
.main-image-box-cube.medium{
	width: 143px;
	height: 103px;
	background: url('../images/cube-image-medium.png') center no-repeat;
}
.main-image-box-cube.small{
	width: 94px;
	height: 75px;
	background: url('../images/cube-image-small.png') center no-repeat;
}
.main-image-box-light{
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	bottom: 0;
	width: 88px;
	height: 196px;
	background: url('../images/main-image-light.png') center;
	background-size: contain;
}
.main-image-box-light::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	bottom: 0;
	width: 88px;
	height: 196px;
	background: url('../images/main-image-light.png') center;
	background-size: contain;
}
.big ~ .main-image-box-light{
	bottom: 103px;
}
.medium ~ .main-image-box-light{
	bottom: 35px;
}
.small ~ .main-image-box-light{
	bottom: 24px;
}
.main-image-box-light::before{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	margin: auto;
	width: 61px;
	height: 171px;
	background: url('../images/main-image-baloons.png') 0 0;
	background-size: contain;
}
.main-image-box-icon{
	position: absolute;
	left: -100px;
	right: -100px;
	top: 0;
	margin: auto;
}
.main-image-coin{
	position: absolute;
	top: 59%;
	left: 30.2%;
	width: 10px;
	height: 10px;
	background: #97dcff;
	border-radius: 50%;
	box-shadow: 0 0 15px 8px #97dcff;
}

.go-animate .main-image-box{
	animation: swim 1.8s infinite ease-in-out;
}
.go-animate .main-image-box-light::after{
	animation: lightsOpacity 3s infinite linear;
}
.go-animate .main-image-box-light::before{
	animation: baloonsMove 8s infinite linear;
}
.go-animate .main-image-coin{
	animation: coinMove 8s infinite linear;
}
.go-animate .protocol-image-coin{
	animation: swim 2s infinite ease-in-out;
}
@keyframes swim{
	0%{transform: translateY(-5px)}
	50%{transform: translateY(0px)}
	100%{transform: translateY(-5px)}
}

@keyframes lightsOpacity{
	0%{opacity: 0;}
	50%{opacity: 1;}
	100%{opacity: 0;}
}

@keyframes baloonsMove {
	0%{background-position: 0 0;}
	10%{background-position: -2px -17px;}
	20%{background-position: 0 -34px;}
	30%{background-position: 2px -51px;}
	40%{background-position: 0 -68px;}
	50%{background-position: -2px -85px;}
	60%{background-position: 0 -102px;}
	70%{background-position: 2px -119px;}
	80%{background-position: 0 -136px;}
	90%{background-position: -2px -153px;}
	100%{background-position: 0 -170px;}
}

@keyframes coinMove{
	0%{top: 59%; left: 30.2%;}
	10%{top: 59%; left: 30.2%;}
	20%{top: 70.5%; left: 44.2%;}
	21%{top: 71%; left: 44.9%;}
	22%{top: 71%; left: 45.5%;}
	23%{top: 70.85%; left: 46.5%;}
	24%{top: 70.05%; left: 47.5%;}
	34%{top: 56.4%; left: 64.2%;}
	44%{top: 45.05%; left: 78.0%;}
	45%{top: 44.45%; left: 78.5%;}
	46%{top: 43.65%; left: 78.6%;}
	47%{top: 43.15%; left: 78.3%;}
	57%{top: 30.8%; left: 63.6%;}
	58%{top: 30.5%; left: 63%;}
	59%{top: 30.5%; left: 62%;}
	60%{top: 31%; left: 61%;}
	70%{top: 41.5%; left: 48%;}
	85%{top: 59.9%; left: 26%;}
	90%{top: 68.6%; left: 15.3%;}
	99.9%{top: 68.6%; left: 15.3%; display: none;}
	100%{top: 59%; left: 30.2%; display: block;}
}
/* Main> */


/* <About */
.about-wrapper{
	/*
	margin-top: -100px;
	*/
	margin-bottom: 48px;
}
.about{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
	padding-top: 20px;
}
.about .second-title{
	width: 100%;
}
.about-content{
    flex-basis: 500px;
    flex-basis: 46.2%;
    padding-right: 8.3%;
}
.about-content p{
	padding-right: 3vw;
	margin-top: 31px;
}
.about-content p:first-child{
	margin: 0;
}
.about-video{
	flex-shrink: 0;
	color: #fff;
	flex-basis: 44.6%;
	height: 353px;
	background: url(../images/about-video-bg.png) center no-repeat;
	background-size: cover;
	border-radius: 12px;
	box-shadow: 0px 4px 30px #192271;
	position: relative;
}
.about-video-button{
    position: absolute;
    top: 7px;
    bottom: 0;
    left: -27px;
    margin: auto;
    width: 56px;
    height: 56px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px #97DCFF;
    border-radius: 50%;
}
.about-video-button::before{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 2px;
	left: 2px;
	background: url(../images/play-icon.png) center no-repeat;
}
.about-video-text{
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 72px;
    margin: auto;
    height: 26px;
    text-transform: uppercase;
}
.about-video-text:hover,
.about-video-text{
	text-decoration: none;
}
/* About> */


/* <Ledger */
.ledger-wrapper{
	margin-bottom: 42px;
}
.ledger{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.ledger .second-title{
	width: 100%;
}
.ledger .sub-title{
	width: 100%;
}
.ledger-content{
    flex-basis: 44.6%;
    flex-shrink: 0;
    margin: 50px 0 27px;
    font-size: 16px;
}
.ledger-image-wrapper{
    background: #F6F9FD;
    box-shadow: 0px 15px 45px rgba(23, 128, 224, 0.212891);
    border-radius: 7px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 14.53vw;
    height: 278px;
    padding: 17px 8px 29px;
    box-sizing: border-box;
    margin-bottom: 50px;
}
.ledger-image-title{
    width: 100%;
    text-align: center;
    font-weight: 500;
    line-height: 23px;
    color: #677897;
    margin-bottom: auto;
}
.ledger-image{
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.ledger-content p{
	font-size: inherit;
}
.ledger-content .third-title{}
.ledger-content .list{}
/* Ledger> */


/* <Team */
.team-wrapper{
	margin-bottom: 67px;
}
.team{}
.team-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 10px;
	margin: 0 -16px;
}
.team-list-item{
    padding: 0 16px;
    box-sizing: border-box;
    display: flex;
    flex-basis: 28%;
    flex-direction: column;
    text-align: center;
    align-items: center;
    flex-shrink: 0;
    margin: 39px 0 0 0;
}
.team-title{
	font-size: 20px;
	margin-bottom: 4px;
}
.team-type{
	font-size: 14px;
	line-height: 17px;
	color: #B2B2B2;
}
.team-image{
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	position: relative;
}
.team-image img{
	max-width: 100%;
	max-height: 100%;
}
.team-link{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: 5px;
	right: 5px;
	width: 23px;
	height: 23px;
	background: #fff;
	border-radius: 50%;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.team-content{
	padding: 15px 0 0 0;
}
/* Team> */


/* <Blog */
.blog-wrapper{
	margin-top: -26px;
	margin-bottom: 52px;
	overflow: hidden;
}
.blog{}
.blog-video-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 49px 0 0 0;
}
.blog-list{
	display: flex;
    flex-direction: column;
    flex-basis: 42.2%;
}
.blog-list-item{
    display: flex;
    margin-top: 20px;
}
.blog-list-item:first-child{
	margin: 0;
}
.blog-video{
    display: block;
    flex-basis: 53.9%;
    flex-shrink: 0;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 6px;
}
.blog-list .blog-video{
    flex-basis: 56%;
}
.blog-video-button{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 56px;
    height: 56px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px #97DCFF;
    border-radius: 50%;
    transition: all .3s;
}
.blog-video:hover .blog-video-button{
	transform: scale(1.1);
}
.blog-video-button::before{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 2px;
	left: 2px;
	background: url(../images/play-icon.png) center no-repeat;
}
.blog-list-item .blog-video-button{
	width: 38px;
	height: 38px;
}
.blog-list-item .blog-video-button::before{
	background-size: 8px;
}
.blog-video-text{
    flex-basis: 38.3%;
    box-sizing: border-box;
    font-size: 18px;
    padding: 15px 0 0 19px;
}
.blog-video-date{
	font-weight: 400;
    margin-bottom: 3px;
    letter-spacing: 1.2px;
}
.blog-video-title{
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .9px;
}

.blog-list-button{
	display: flex;
    justify-content: center;
    padding: 50px 15px 59px;
}
.blog-list-button .button{
    padding-left: 30px;
    padding-right: 30px;
}

.blog-slider{
    display: flex;
    padding: 0 8px 60px;
    margin: 0 -17px;
}
.blog-slide{
	padding: 0 9px;
}
.blog-slide-image{
	height: 239px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 6px;
}
.blog-slide-title{
    text-transform: uppercase;
    margin-top: 25px;
    letter-spacing: 1.2px;
    font-size: 18px;
    line-height: 25px;
}
.blog-slider .slick-arrow{
    text-indent: -6666px;
    width: 52px;
    height: 74px;
    background: url(../images/arrow-slider.png) center no-repeat;
    border-radius: 50%;
    position: absolute;
    top: 87px;
    z-index: 27;
    cursor: pointer;
}
.blog-slider .slick-arrow.slick-prev{
	left: -45px;
	transform: rotate(180deg);
}
.blog-slider .slick-arrow.slick-next{
	right: -45px;
}
.blog-slider .slick-dots{
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 10px 0;
}
.blog-slider .slick-dots li{
	padding: 0 6px;
}
.blog-slider .slick-dots button{
	text-indent: -6666px;
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #d1d6e3;
}
.blog-slider .slick-dots .slick-active button{
	background: #677897;
}
/* Blog> */


/* <Protocol */
.protocol-wrapper{
	margin-bottom: 52px;
}
.protocol{}

.protocol-image-wrapper{
    height: 500px;
    width: 76%;
    position: relative;
    margin: 58px auto;
    transform: scale(.57);
}
.protocol .box-cell{
	position: relative;
}
.protocol-image{
	position: absolute;
	top: -202px;
	right: -666px;
	left: -666px;
	margin: auto;
	width: 948px;
	height: 790px;
	background: url('../images/protocol-image.png') 71px 0 no-repeat;
}
.protocol-image-coin{
	position: absolute;
	width: 200px;
	height: 226px;
	background: url('../images/protocol-coin-image.png') center no-repeat;
	background-size: contain;
    top: 27%;
    left: 47%;
}
.protocol-image-button{
	position: absolute;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	transition: all .3s;
}
.protocol-image-button.btn-1{
	left: 0%;
	bottom: 13.5%;
	width: 243px;
	height: 147px;
	background-image: url('../images/protocol-image-button-1.png');
}
.protocol-image-button.btn-2{
	left: 19.6%;
	bottom: 0%;
	width: 243px;
	height: 146px;
	background-image: url('../images/protocol-image-button-2.png');
}
.protocol-image-button.btn-3{
	left: 74.8%;
	bottom: 13.8%;
	width: 239px;
	height: 145px;
	background-image: url('../images/protocol-image-button-3.png');
}
.protocol-image-button:hover{
	margin-bottom: 20px;
}
.protocol-wave{
    position: absolute;
    background: url(../images/protocol-wave-image.png) center no-repeat;
    background-size: contain;
    width: 697px;
    height: 404px;
    top: 48.5%;
    bottom: 0;
    left: -666px;
    right: -650px;
    margin: auto;
    transform: scale(.4);
}
.protocol-image-text-1{
    position: absolute;
    top: 59.3%;
    left: 41.4%;
    font-size: 29px;
    font-weight: 500;
    color: #fff;
    width: 100px;
    line-height: 36px;
    transform: skew(64deg, -40deg) rotate(7deg) scaleY(.7);
    letter-spacing: .8px;
    opacity: .9;
    text-align: center;
}
.protocol-image-text-2{
    position: absolute;
    top: 32.5%;
    left: 29%;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    width: 80px;
    line-height: 28px;
    transform: skew(64deg, -40deg) rotate(8deg) scaleY(.9);
    letter-spacing: .8px;
    opacity: .9;
    text-align: center;
}
.protocol-image-text-3{
    position: absolute;
    top: 28.2%;
    left: 29.2%;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    width: 80px;
    line-height: 20px;
    transform: skew(65deg, -41deg) rotate(8deg) scaleY(.8);
    letter-spacing: .8px;
    opacity: .9;
    text-align: center;
}
.protocol-image-text-4{
    position: absolute;
    top: 32.5%;
    left: 29.2%;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    width: 80px;
    line-height: 28px;
    transform: skew(64deg, -40deg) rotate(7deg) scaley(.85);
    letter-spacing: .8px;
    opacity: .9;
    text-align: center;
}

.protocol-image-baloon{
	position: absolute;
	display: table;
	width: 83px;
	height: 83px;
	border-radius: 50%;
	font-weight: bold;
	font-size: 17.25px;
	color: #3d5acd;
	line-height: 20px;
	padding-top: 2px;
	background: #fff;
	box-sizing: border-box;
	transition: all .1s;
}
.protocol-image-baloon::before{
	content: '';
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	border: 3px solid;
	border-radius: 50%;
	transition: all .3s;
	background: #fff;
}
.protocol-image-baloon.b-1::before{
	border-color: #01f3ff;
}
.protocol-image-baloon.b-1{
	bottom: 71%;
	left: 7.2%;
}
.protocol-image-baloon.b-2::before{
	border-color: #1f9bf5;
}
.protocol-image-baloon.b-2{
	bottom: 77.2%;
	left: 16.2%;
}
.protocol-image-baloon.b-3::before{
	border-color: #2b74f1;
}
.protocol-image-baloon.b-3{
	bottom: 83.5%;
	left: 25.2%;
}
.protocol-image-baloon.b-4::before{
	border-color: #3e5ace;
}
.protocol-image-baloon.b-4{
	bottom: 90%;
	left: 34.5%;
}
.protocol-image-baloon-inside{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	position: relative;
}
.protocol-image-baloon-text{
	position: absolute;
	width: 240px;
	background: #fff;
	padding: 10px 14px;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
	border-radius: 4px;
	text-align: left;
	font-size: 16px;
	line-height: 20px;
	opacity: 0;
	visibility: hidden;
	top: 4px;
	right: 50px;
	transition: all .3s;
}

.go-animate .protocol-wave{
	animation: wave 7.5s infinite ease-in-out;
}
.protocol-wave.wave-1{
	animation-delay: -1.5s;
}
.protocol-wave.wave-2{
	animation-delay: -3s;
}
.protocol-wave.wave-3{
	animation-delay: -4.5s;
}
.protocol-wave.wave-4{
	animation-delay: -6s;
}
@keyframes wave{
	50%{opacity: 1; top: 48.5%;}
	100%{top: 58.5%; opacity: 0; transform: scale(1.7);}
}
.go-animate .protocol-button::before{
	animation: shadowButton 2s infinite linear;
}
@keyframes shadowButton{
	0%{margin: -12px}
	50%{margin: 0}
	100%{margin: -12px}
}
@keyframes borderButton{
	0%{top: 0; right: 0; bottom: 0; left: 0; opacity: 1;}
	50%{top: -5px; right: -5px; bottom: -5px; left: -5px;}
	100%{top: -10px; right: -10px; bottom: -10px; left: -10px; opacity: 0;}
}
/* Protocol> */


/* <Token */
.token-wrapper{
	margin-bottom: 100px;
}
.token{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.token .second-title,
.token .sub-title{
	flex-basis: 100%;
}
.token-header{
	display: flex;
	flex-basis: 100%;
	max-width: 750px;
	margin: 50px 0 96px;
	box-shadow: 0px 20px 40px #DDE7EE;
	border-radius: 20px;
	overflow: hidden;
}
.token-header-box{
    background: #fff;
    position: relative;
    flex-basis: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 20px;
    min-height: 84px;
}
.token-header-box::before{
	content: '';
	position: absolute;
	top: 6px;
	left: -1px;
	bottom: 6px;
	width: 2px;
	background: #53A8E2;
	opacity: .2;
}
.token-header-box:first-child::before{
	display: none;
}
.token-header-title{
	font-size: 18px;
}
.token-header-text{
	font-size: 14px;
	font-weight: 400;
	margin-top: 10px;
	letter-spacing: -.1px;
}
.token-diag{
	flex-basis: 50%;
}
.token-diag img{
	display: block;
	margin: auto;
	max-width: 100%;
}
/* Token> */


/* <Roadmap */
.roadmap-wrapper{}
.roadmap{}
.roadmap-list{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;
    max-width: 448px;
    margin: 0 auto;
    position: relative;
}
.roadmap-list-item{
	flex-basis: 33.3333%;
	box-sizing: border-box;
	padding: 0 5px;
	position: relative;
	margin-bottom: 21px;
}
.roadmap-list-item::before{
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: linear-gradient(45.16deg, #102397 -5.12%, #187ADF -5.11%, #00EAF8 92.6%);
}
.roadmap-list-item.pink-circle::before{
	background: linear-gradient(150.14deg, rgba(253, 83, 196, 0.2) 15.81%, rgba(249, 92, 199, 0.5) 52.9%);
}
.roadmap-list-item.pink-circle-opacity::before{
	background: linear-gradient(150.14deg, rgba(253, 83, 196, 0.12) 15.81%, rgba(249, 92, 199, 0.3) 52.9%);
}
.roadmap-list-item::after{
	content: '';
	position: absolute;
	top: 9px;
	height: 2px;
	left: 30px;
	right: 0;
	background: #eeeeff;
	border-radius: 4px;
}
.roadmap-list-item:nth-child(3n)::after{
	display: none;
}
.roadmap-title{
	font-size: 10px;
	font-weight: 600;
	padding-top: 6px;
	min-height: 13px;
}
.roadmap-text{
    font-size: 12px;
    line-height: 17px;
    font-weight: 400;
    margin-top: 9px;
}
/* Roadmap> */


/* <Partners */
.partners-wrapper{
	margin-bottom: 66px;
}
.partners{}
.partners-list{
	display: flex;
	margin: 0 -20px;
	padding: 48px 0 67px;
	border-bottom: 2px solid #CBE3FA;
}
.partners-list-item{
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 20%;
    box-sizing: border-box;
}
.partners-list-item img{
	display: block;
	max-width: 100%;
	max-height: 100%;
}
/* Partners> */


/* <Socials */
.socials-wrapper{}
.socials{}
.socials-list{
    display: flex;
    flex-wrap: wrap;
    max-width: 350px;
    margin: 33px auto 0;
    position: relative;
}
.socials-list-item{
	width: 33.3333%;
	padding-top: 30.4%;
	box-sizing: border-box;
	position: relative;
}
.social-button{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	/*
    width: 50px;
    height: 50px;
    border-radius: 50%;
	background: linear-gradient(45.49deg, #102397 -5.12%, #187ADF -5.11%, #00EAF8 92.6%);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	*/
	transition: all .3s;
}
.social-button:hover{
	bottom: 20px;
}
.social-button img{
	max-width: 100%;
	max-height: 100%;
}
/* Socials> */


/* <Faq */
.faq-wrapper{
	background: #fff;
	padding: 0 0 70px;
}
.faq-wrapper::before{
	content: '';
	background: url('../images/white-wave-top.png') center 0 repeat-x #f8fafd;
	display: block;
	height: 121px;
	margin-bottom: -12px;
}
.faq{}
.faq-list-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 33px 0 0;
}
.faq-list{
	flex-basis: 45%;
    font-size: 14px;
    font-weight: 500;
}
.faq-list-title{
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 6px;
}
.faq-list-item{
    border-bottom: 1px solid #D8E3FE;
    padding: 0 20px;
}
.faq-quest{
    padding: 29px 0px 29px 44px;
    letter-spacing: .4px;
    cursor: pointer;
    position: relative;
}
.faq-quest::before,
.faq-quest::after{
    content: '';
    position: absolute;
    top: 33px;
    left: 6px;
    width: 18px;
    height: 11px;
    background: url(../images/arrow-blue.png) center no-repeat;
    transform: rotate(0deg);
    opacity: 1;
    transition: all .3s;
}
.faq-quest::after{
	opacity: 0;
	background-image: url(../images/arrow.png);
}
.open .faq-quest,
.faq-quest:hover{
    transition: all .3s;
	color: #E558C5;
}
.faq-answer{
    display: none;
    padding: 0 50px 13px 62px;
    color: #99a7b5;
    font-weight: 400;
    margin-top: -1px;
    letter-spacing: .4px;
}
.faq-answer p{
	line-height: 27px;
}
.faq-list-item.open{}
.faq-list-item.open .faq-quest::before{
	opacity: 0;
    transform: rotate(180deg);
}
.faq-list-item.open .faq-quest::after{
    transform: rotate(180deg);
    opacity: 1;
}
/* Faq> */


/* < */

/* > */


/* < */

/* > */


/* < */

/* > */


/* < */

/* > */


/* < */

/* > */


/* < */

/* > */


/* < */

/* > */


/* <Responsive */
@media (max-width: 1600px){
	.navsc{
		padding-left: 2.5vw;
	}
}
@media (max-width: 1500px){
	.navsc{
		padding-left: 20px;
	}
}
@media (max-width: 1200px){
	.navsc{
		font-size: 14px;
		width: 135px;
	}
	.navsc li a{
		padding-left: 24px;
	}
}
@media (max-width: 1144px){
	.blog-list .blog-video{
		min-height: 112px;
		flex-basis: 46%;
	}

	.blog-slide-image{
		height: 200px;
	}

	.partners-list{
		flex-wrap: wrap;
		justify-content: center;
		padding: 28px 0 47px;
	}
	.partners-list-item{
		flex-basis: 200px;
		width: auto;
		padding: 20px;
	}

	.footer{
		flex-wrap: wrap;
	}
	.footer-content:last-child,
	.footer-content:first-child,
	.footer-content{
		flex-basis: 100%;
	}
	.footer-content:first-child{
		margin-bottom: 20px;
	}
	.footer-contacts{
		display: flex;
		margin-bottom: 25px;
		justify-content: center;
		text-align: center;
		flex-direction: column;
	}
	.footer-nav-wrapper{
		justify-content: center;
		flex-wrap: wrap;
		text-align: center;
	}
	.footer-nav.nav-lang{
		text-align: center;
		flex-basis: 100%;
	}
	.footer-nav-link {
	    max-width: 90px;
	    margin: 0 auto 0;
	}
	.footer-nav{
	    margin: 0 0 14px;
	    flex-basis: 100%;
	}

	.footer-wrapper{
		padding: 40px 0;
	}
	.footer-contacts-flag{
		padding: 0;
	}

	.navsc li::before{
		height: 1.5vw;
	}
}
@media (max-width: 980px){
	.nav-wrapper{
		flex-basis: 480px;
	}

	.about-content{
		flex-basis: 100%;
		padding: 0;
		margin-bottom: 50px;
	}
	.about-video{
		flex-basis: 460px;
		height: 300px;
		margin: auto;
	}

	.blog-list .blog-video{
		min-height: 82px;
		flex-basis: 46%;
	}

	.blog-slide-image{
		height: 180px;
	}

	.faq-list{
		flex-basis: 100%;
	}
	.faq-list + .faq-list{
		margin-top: 60px;
	}
}
@media (max-width: 888px){
	.first-title{
		font-size: 38px;
		line-height: 48px;
	}
	.second-title{
		font-size: 30px;
	}
	.third-title{
		font-size: 22px;
	}

	.header{
		align-items: flex-start;
	}
	.header-wrapper{
		padding-top: 20px;
	}
	.header-wrapper + * {
	    padding-top: 106px;
	}

	.nav-button{
		display: flex;
	}
	.show-menu .nav-button{
		background: #fff;
		border-radius: 3px 3px 0 0;
	}
	.show-menu .nav-button-line{
		background: #677897;
	}
	.nav-wrapper{
		display: block;
		position: absolute;
	    top: 46px;
	    right: 5px;
		background: #fff;
		flex-direction: column;
		width: 220px;
		color: #677897;
		border-radius: 3px 0 3px 3px;
		overflow: hidden;
		opacity: 0;
		visibility: hidden;
		transition: all .3s;
		z-index: -1;
	}
	.nav-link{
		padding: 7px 12px;
		margin: 0;
		display: flex;
	}
	.show-menu .nav-lang-dropdown{
		opacity: 1;
	    visibility: visible;
	}
	.show-menu .nav-wrapper{
		opacity: 1;
		visibility: visible;
		z-index: 1;
	}
	.nav-link::before{
		content: '';
		margin: -7px 12px -7px -12px;
		width: 0;
		background: #677897;
		transition: all .3s;
		flex-shrink: 0;
	}
	.nav-link.active::before,
	.nav-link:hover::before{
		width: 3px;
	}
	.nav-link::after{
		display: none;
	}
	.nav-list{
		flex-direction: column;
	}
	.nav-list-item{
		margin: 0;
	}
	.nav-lang-link{
		display: none;
	}
	.nav-lang-dropdown{
	    position: static;
	    width: auto;
	    border-radius: 0;
	    margin-top: 8px;
	    background: #f8fafd;
	    margin: 8px 0 -5px;
	}

	.main-wrapper{
		padding-bottom: 110px;
		margin-bottom: 20px;
	}
	.main{
		
	}
	.main-content{
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	    height: 100%;
	    margin: 0 auto;
	    text-align: center;
	    padding: 0;
	    min-height: 620px;
	}
	.main-content .first-title{
		margin-bottom: auto;
	}
	.main-wrapper + .section-wrapper .box{
		margin-top: 0;
	}
	.main-image-wrapper{
	    transform: scale(.515);
	    top: 0;
	    right: -644px;
	    left: -666px;
	}

	.about-video{}
	.about-video-button{
		left: 0;
		right: 0;
		top: 0;
		bottom: 30px;
	}
	.about-video-text{
		right: 0;
		left: 0;
		top: 70px;
		text-align: center;
	}

	.ledger-content{
		flex-basis: 100%;
	}

	.team-list{
		justify-content: center;
	}
	.team-list-item{
		flex-basis: 240px;
	}

	.blog-video-wrapper{
		flex-wrap: wrap;
	}
	.blog-video{
		flex-basis: 100%;
		min-height: 400px;
	}
	.blog-list{
		flex-basis: auto;
		padding-top: 20px;
		margin: 0 -15px;
		flex-direction: row;
	}
	.blog-list-item{
		flex-basis: 33.3333%;
		padding: 0 15px;
		box-sizing: border-box;
		margin: 0;
		flex-direction: column;
	}
	.blog-list .blog-video{
		min-height: 122px;
		flex-basis: 46%;
	}
	.blog-video-text{
		padding-left: 0;
		font-size: 16px;
	}

	.token-diag{
		flex-basis: 100%;
	}
	.token-diag + .token-diag{
		margin-top: 50px;
	}
}
@media (max-width: 740px){
	.blog-video{
		min-height: 320px;
	}
	.blog-list .blog-video{
		min-height: 100px;
	}
	
	.navsc-wrapper{
		display: none;
	}
	.section-wrapper{
		padding-right: 0 !important;
	}
}
@media (max-width: 520px){
	.team-list-item{
		flex-basis: 50%;
	}

	.blog-list{
	    flex-direction: column;
	    flex-basis: 100%;
	    margin: 0;
	}
	.blog-list-item{
		flex-basis: 100%;
		margin-top: 20px;
		flex-direction: row;
		padding: 0;
	}
	.blog-video-text{
		padding: 0 0 0 15px;
		flex-basis: auto;
	}

	.protocol-image-wrapper{
		transform: scale(.4);
		margin: -18px auto -88px;
	}

	.token-header{
		flex-direction: column;
	}
	.token-header-box{
		min-height: 0;
	}
	.token-header-box::before{
		top: -1px;
		width: auto;
		height: 2px;
		bottom: auto;
		right: 6px;
		left: 6px;
	}

	.roadmap-list-item{
		flex-basis: 50%;
	}
	.roadmap-list-item:nth-child(3n)::after,
	.roadmap-list-item::after{
		content: '';
		position: absolute;
		top: 9px;
		height: 2px;
		left: 30px;
		right: 0;
		background: #eeeeff;
		border-radius: 4px;
		display: block;
	}
	.roadmap-list-item:nth-child(2n)::after{
		display: none;
	}
}
/* Responsive> */